@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
/*----------------Main Colors ------------*/

:root {
    --color-primary: blue;
    --color-secondary: gray;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
}

* {
    border: 1px solid red;
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-weight: bold;
}

html{
    font-size: 14px;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
}

body .bar{
    background: var(--color-secondary); 
    box-sizing: border-box;
    overflow: auto;
    padding: 18px 10px;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 999;
}
.pages{
    font-size: 1.2rem;

}

body .bar a{
    font-family: poppins, sans-serif;
    color: black;
}

body .bar a:hover{
    color: var(--color-primary);
}