@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
/*----------------Main Colors ------------*/

:root {
    --color-primary: blue;
    --color-secondary: gray;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html{
    font-size: 14px;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
}

.bar{
    display: grid;
    margin: auto;
    block-size: auto;
    grid-template-columns: 14rem auto 23rem;
    background-color: var(--color-secondary);
}

h1{
    font-weight: 800;
    font-size: 1.8rem;

}
